* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 0;
}

.game-container {
    width: 400px;
    margin: 30px auto;
}

.box {
    width: 360px;
    height: 360px;
    background-color: silver;
    padding: 20px;
    margin: 15px auto;
    display: none;
    opacity: 0;
}

.box-item {
    width: 80px;
    height: 80px;
    font-weight: bold;
    font-size: 30px;
    color: #303030;
    padding: 22px;
    background-color: #fcfcfc;
    float: left;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.box-item:hover {
    transition: .7s ease;
    opacity: .7;
}

.show-popup {
    opacity: 0;
}

.game-settings {
    width: 140px;
    border: none;
    outline: none;
    height: 40px;
    background-color: #A9A9A9;
    color: #fcfcfc;
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0 0 20px;
    border-radius: 5px;
    cursor: pointer;
}

.game-settings:hover {
    transition: .7s ease;
    opacity: .7;
    color: #303030;
}

.clear-item {
    background: transparent;
    padding: 0;
}

.parent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.alert-window {
    display: none;
    width: 250px;
    height: 170px;
    border: 1px solid #303030;
    background-color: #fcfcfc;
    margin: 100px auto;
}

.alert-window p {
    font-size: 25px;
    color: #303030;
    text-align: center;
}

.alert-window button {
    width: 70px;
    margin: 20px 0 0 32px;
}

.moves {
    margin-left: 20px;
    color: #303030;
    font-size: 20px;
    font-style: italic;
}

.game-over {
    width: 312px;
    height: 206px;
}

.game-over button {
    margin: 0px 0 0 57px;
}